.view-status-indicator {
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 4px;
    font-size: 12px;
    user-select: none;
    flex: 0 0 auto;
    white-space: nowrap;
}

.preview-mode {
    background-color: #4d7d55;
    color: white;
}

.source-mode {
    background-color: #8a5354;
    color: white;
}

.live-mode {
    background-color: #8c8334;
    color: white;
}

.default-mode {
    background-color: #9e9e9e;
    color: white;
}

